{
    "username": "{{ username }}",
    "password": "{{ password }}",
    "confirmPassword": "{{ password }}",
    "email": "{{ email }}",
    "fullName": "{{ fullName }}",
    "locked": false,
    "passwordChangeRequired": false,
    "permanent": false,
    "readOnly": false,
    "validated": true,
    "assignedRoles": [{% for role in roles %}"{{ role }}"{% if not loop.last %},{% endif %}{% endfor %}]
}
