{
    "username": "admin",
    "password": "{{ archiva_admin_password }}",
    "confirmPassword": "{{ archiva_admin_password }}",
    "email": "{{ archiva_admin_email }}",
    "fullName": "Admin ({{ archiva_admin_email }})",
    "locked": false,
    "passwordChangeRequired": false,
    "permanent": false,
    "readOnly": false,
    "validated": true
}
